
* {
    font-family: 'Circular Std Book', Arial, Helvetica, sans-serif;
}

body {
    background-color: #222325;
    color: #ddd
}
a {
    text-decoration: none;
    color: inherit;
}
.vborder {
    border: 1px dashed green;
}

#form-container {
    background-color: #1c1c1c;
    margin: 25px;
    width: 400px;
}
#bkgrd {
    background-color: #d3322a;
}

/*========================================*/
/* OPERATION type input */
#op-grid-container {
    background-color: inherit;
    display: grid;
    grid-template-rows: 30px 5px;

}
#op-line1 {
    background-color: inherit;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr;
}
#op-line1 a {
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-back {
    height: fit-content;
    width: fit-content;
}
#op-line1 div {
    line-height: 30px;
    text-align: center;
}
#op-line2 {
    display: flex;
    background-color: inherit;
}
#move {
    position: relative;
    width: 114px;
    height: 5px;
    background-color: inherit;
    transition: width 500ms;
}
#ball {
    background-color: black;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
}


/*========================================*/
/* CONTAINER with op icon, VALUE input and STATUS input*/
#three-items {
    display: grid;
    grid-template-columns: 2fr 10fr 1fr;
}


/*========================================*/
/* op-icon */
#op-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
#op-icon-img {
    height: fit-content;
    width: fit-content;
}


/*========================================*/
/* VALUE number input */
#value-container {
    box-sizing: border-box;
}
#value-container input {
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: inherit;
    height: 100px;
    width: 100%;
    color: #f8ffff;
    font-family: 'Circular Std';
    font-size: 45px;
    font-weight: bolder;
    text-align: right;
}
/* removing spin button */
#value-container input::-webkit-outer-spin-button,
#value-container input::-webkit-inner-spin-button {/* Chrome, Safari, Edge, Opera */
    -webkit-appearance: none;
    margin: 0;
}
#value-container input[type=number] {/* Firefox */
    -moz-appearance: textfield;
}


/*========================================*/
/* STATUS input */
#status-container {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}
#status {
    margin-top: 35px;
    width: fit-content;
    height: fit-content;
    
}


/* NEXT ELEment*/
.input-container {
    box-sizing: border-box;
    padding: 10px;
    width: 400px;

}

.hidden {
    text-decoration: none;
}

.red { background-color: #f22f2f; }
.green { background-color: #09e888; }
.none { display: none; }
/*
input, select {
    border: none;
    outline: none;
    background-color: #bbb;
    border-top: 4px solid #7a7a7a;
    padding: 10px 5px;
    width: 380px;
}
*/